<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
<div class="container mt-5">
    <div class="row g-5">
        <div class="col-3">
            <div class="border">
                <div class="bg-success text-white text-center fw-bold" style="height:2rem; line-height:2rem;">
                    All departments
                </div>
                <div class="d-flex flex-column text-center gap-3">
                    <div class="mt-3">Fresh Meat</div>
                    <div>Fresh Meat</div>
                    <div>Fresh Meat</div>
                    <div>Fresh Meat</div>
                    <div>Fresh Meat</div>
                    <div>Fresh Meat</div>
                    <div>Fresh Meat</div>
                    <div>Fresh Meat</div>
                    <div class="mb-3">Fresh Meat</div>
                </div>
            </div>
        </div>
        <div class="col-9" style="background: url('https://ivankitanovski.github.io/exam/banner.jpg')">
            <div class="container">
                <div class="my-5"></div>
                <div class="my-1"></div>
                <p class="fw-bold text-success mt-2">FRUIT FRESH</p>
                <h1 class="fw-bold">Vegetable</h1>
                <h1 class="fw-bold">100% Organic</h1>
                <p class="text-muted">Free Pickup and Delivery Available</p>
                <button class="btn btn-success rounded-0 text-white">SHOP NOW</button>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="fw-bold">From The Blog</h1>
        <div class="border-bottom border-3 border-success" style="width: 5rem;"></div>
    </div>
    <div class="row g-5 mt-5">
        <div class="col-4">
            <div class="card border-0">
                <img src="https://ivankitanovski.github.io/exam/blog-1.jpg" class="card-img-top rounded-0" alt="">
                <div class="card-body">
                    <p class="text-muted">May 4, 2019 &nbsp; 5</p>
                    <h5>Cooking tips make cooking simple</h5>
                    <p class="text-muted">
                        gdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhg</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-0">
                <img src="https://ivankitanovski.github.io/exam/blog-2.jpg" class="card-img-top rounded-0" alt="">
                <div class="card-body">
                    <p class="text-muted">May 4, 2019 &nbsp; 5</p>
                    <h5>Cooking tips make cooking simple</h5>
                    <p class="text-muted">
                        gdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhg</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-0">
                <img src="https://ivankitanovski.github.io/exam/blog-3.jpg" class="card-img-top rounded-0" alt="">
                <div class="card-body">
                    <p class="text-muted">May 4, 2019 &nbsp; 5</p>
                    <h5>Cooking tips make cooking simple</h5>
                    <p class="text-muted">
                        gdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhggdsghdsgkjhsakjhg</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5" style="background-color: #f1f1f1">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <p class="fw-bold">FINKI Exam</p>
                <p>Organization</p>
                <p>Departments</p>
                <p>Contact</p>
            </div>
            <div class="col-4">
                <p class="fw-bold">Studies</p>
                <p>Bachelors</p>
                <p>Masters</p>
                <p>PhD</p>
            </div>
            <div class="col-4">
                <p class="fw-bold">Staff</p>
                <p>Administrative</p>
                <p>Testing</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>